{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
  <h1 style="text-align: center;">Quick Api Data Extraction</h1>
    <main>
        <section class="meme">
            <h3>
                <a href="{% url 'meme' %}">Generate Random Meme</a>
            </h3>
        </section>
        <section class="quote">
            <h3>
                <a href="{% url 'quote' %}">Generate Random Quote</a>
            </h3>
        </section>  
    </main>
    <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h3>Contact Me</h3>
            <p>Email: kirollssabri666@gmail.com</p>
            <p>Phone: (20) 01017349046</p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; 2023 Kirolls. All rights reserved.</p>
        </div>
      </footer>
      
</body>
</html>