{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
    <link rel="stylesheet" href="{% static 'css/quote.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
</head>
<body>
    <div class="quote-container">
        <h2>Quote Generator</h2>
        <div id="countdown">00:35</div>
            <p id="quote">""</p>
            <span id="author"></span>
    </div>
    <script>
    
    </script>
    <script src="{% static 'js/quote_generator.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
</body>
</html>